#header{
    font-weight: bold;
}

#corps{
    text-align: justify;
    border: 1px solid black; 
    background-color: #424242;
    padding: 15px;
    color: white;
}



body{
    background-color: #f3f3f3;
}